header .navbar-brand img {
  width: 100px;
  height: 80px;
}

header .navbar-nav a {
  font-family: "Lobster";
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

#banner {
  background-image: url("https://t3.ftcdn.net/jpg/02/97/67/70/360_F_297677001_zX7ZzRq8DObUV5IWTHAIhAae6DuiEQh4.jpg");
  background-size: cover;
  height: 100vh;
}

#banner > div {
  top: 45%;
  width: 100%;
}

#banner h2,
#banner p {
  font-family: "Monoton";
  font-weight: bold;
}

#banner p {
  font-size: 22px;
  text-align: center;
  padding: 0 10px;
}

#banner button {
  width: 170px;
  height: 50px;
}

#whyChooseUsSec,
#exploreSection {
  background-color: aliceblue;
  font-family: "Roboto";
}

#whyChooseUsSec > div > h3 {
  color: #183b56;
  font-weight: 700;
  font-size: 28px;
}

#whyChooseUsSec > div > p,
#whyChooseUsSec .card-text {
  color: #5a7184;
  font-size: 16px;
}
#whyChooseUsSec > div > p {
  font-weight: 900;
}

#whyChooseUsSec .card,
#exploreSection .card {
  border-color: #e5eaf4;
  text-align: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 20px;
}

#whyChooseUsSec .card > img {
  width: 200px;
  height: 200px;
}

#whyChooseUsSec .card-title {
  color: #183b56;
  font-size: 22px;
  font-weight: 500;
}

#exploreSection .card > img {
  width: 220px;
  height: 220px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #banner > div {
    top: 35%;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  #banner > div {
    top: 32%;
  }

  #banner p {
    font-size: 18px;
  }
}

@media screen and (max-width: 424px) {
  #banner > div {
    top: 30%;
  }

  #banner p {
    font-size: 18px;
  }

  #banner button {
    width: 150px;
    height: 50px;
  }
}

.wcu {
  background-color: aliceblue;
}
.wcu-head {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.wcu-para {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 900;
}
.wcu-card {
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}
.image {
  width: 180px;
  height: 180px;
}
.card-head {
  color: #183b56;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.card-para {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.offer {
  color: black;
  font-style: italic;
  font-weight: 600;
}
.explore {
  background-color: aliceblue;
}
.image {
  width: 220px;
  height: 220px;
}
.Nonhead {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
  color: #183b56;
  margin-top: 24px;
}
.menuhead {
  color: #183b56;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.menulink {
  color: orangered;
}
.card {
  background-color: white;
  border-radius: 16px;
}
.payment {
  background-color: aliceblue;
  background-size: cover;
}
.dphead {
  color: #183b56;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.dppara {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.paycard {
  width: 70px;
  height: 70px;
  margin-right: 28px;
}
.offerimage {
  width: 340px;
  height: 340px;
}
.fus {
  background-color: aliceblue;
}
.social-icons i {
  font-size: 25px;
  margin-left: 7px;
}
.icon {
  color: #d0b200;
}
.follow {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.footer {
  background-color: antiquewhite;
  text-align: center;
}
.footerpara {
  color: #5a7184;
  font-size: 16px;
}
.contact {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
